hr
.section.full-height
    header
      h1 About Me
    p.age-container
    p.about-me-text I'm&nbsp
        b.colored-2 beautiful
        | , smart, funny, attactive,&nbsp
        b.colored beautiful
        | , creative,&nbsp
        b.colored-5 beautiful
        | , hard-working, dedicated, loving,&nbsp
        b.colored-4 beautiful
        | , smart,&nbsp
        b.colored-3 beautiful
        | , funny, and married to
        a(href='/video')
          | 
          em.heavy James
        | , who is also pretty amazing.
    p.about-me-text
    p.about-me-text
