hr
.section.full-height
    header
      h1 Contact Me
    a.colored.sliding-middle-out(href='mailto:annemariephereford@gmail.com')
        h3.colored annemariephereford@gmail.com
    .icons
        a(href='twitter.com')
            img.twitter(src='img/twitter.png', alt='twitter')
        a(href='facebook.com')
            img.facebook(src='img/facebook.png', alt='facebook')
