hr
header.header
    h1 Portfolio Gallery
    p A collection of noteworthy project samples
section.flex-container#lightgallery
    a.flex-item(href='/img/full/image-0.jpeg', data-sub-html='<h2 class="gallery-caption">Some Chinese Folks Rowing a Stupid Boat</h2>')
        img#flex-img(src='/img/thumb/image-0.jpeg')
    a.flex-item(href='/img/full/image-1.jpeg', data-sub-html='<h2 class="gallery-caption">A Firefly Enjoying Some Electronic Dance Music</h2>')
        img#flex-img(src='/img/thumb/image-1.jpeg')
    a.flex-item(href='/img/full/image-2.jpeg', data-sub-html='<h2 class="gallery-caption">Santa Claus Relaxing In Hot Tub, Dec. 26th</h2>')
        img#flex-img(src='/img/thumb/image-2.jpeg')
    a.flex-item(href='/img/full/image-3.jpeg', data-sub-html='<h2 class="gallery-caption">A Great White Shark Hunts A Lone Surfer</h2>')
        img#flex-img(src='/img/thumb/image-3.jpeg')
    a.flex-item(href='/img/full/image-4.jpeg', data-sub-html='<h2 class="gallery-caption">My Ant Colony</h2>')
        img#flex-img(src='/img/thumb/image-4.jpeg')
    a.flex-item(href='/img/full/image-5.jpeg', data-sub-html='<h2 class="gallery-caption">The 42nd President of the United States Bill Clinton</h2>')
        img#flex-img(src='/img/thumb/image-5.jpeg')
    a.flex-item(href='/img/full/image-6.jpeg', data-sub-html='<h2 class="gallery-caption">Poisonous Flowers Pretend To Be Beautiful</h2>')
        img#flex-img(src='/img/thumb/image-6.jpeg')
