svg(width='304px', height='351px', viewbox='-50 0 404 351', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            polygon#bottom-center(fill='#83D1DF', points='99.885488 259.505903 149.828232 346.125785 199.794534 259.505903')
            polygon#middle-right(fill='#17526C', points='149.828232 173.027518 199.794534 86.431219 249.737278 173.027518')
            polygon#middle-left(fill='#0F435F', points='49.942744 172.886021 99.9090459 86.2661389 149.85179 172.886021')
            polygon#bottom-center-left(fill='#1D6781', points='49.942744 172.886021 99.9090459 259.505903 149.85179 172.886021')
            polygon#bottom-left(fill='#3291A7', points='0 259.505903 49.942744 172.909604 99.9090459 259.505903')
            polygon#bottom-right(fill='#44B3C4', points='199.770976 259.505903 249.737278 172.909604 299.680022 259.505903')
            polygon#bottom-center-right(fill='#277990', points='149.828232 172.886021 199.794534 259.505903 249.737278 172.886021')
            polygon#middle-middle(fill='#0D3754', points='99.9090459 86.2661389 149.85179 172.862438 199.794534 86.2661389')
            polygon#top-center(fill='#0C2B48', points='99.9090459 86.5962991 149.85179 0 199.794534 86.5962991')
