hr
.section
    header
        h1 My Work
        p A brief overview of what I've been up to.
    .work-list
        .work-table
            .work-dates
                span MARCH 1990 - PRESENT
            .work-items
                span
                    b KILLING IT
                p
                    | Scratch the box. Meowwww purr for no reason meowzer! yet knock over christmas tree yet sweet beast present belly, scratch hand when stroked or intently sniff hand. Hide from vacuum cleaner have secret plans vommit food and eat it again eat from dog's
                    | food please stop looking at your phone and pet me.
        .work-table
            .work-dates
                span 10,000 B.C. - MARCH 1990
            .work-items
                span
                    b BEING A BOSS
                p
                    | Stare at wall turn and meow stare at wall some more meow again continue staring lick butt and make a weird face yet stare out the window for lick the other cats but scamper, or chase the pig around the house.
