:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  display: flex;
  background: #7A419B;
  min-height: 100vh;
  background: linear-gradient(135deg, #7c1599 0%, #921099 50%, #7e4ae8 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.container {
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list-item {
  flex: 0 0 200px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item video {
  width: 100%;
}

.list-item.active {
  border: 5px solid #bada55;
  border-radius: 5px;
}

.player {
  cursor: pointer;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
  border: 0;
}

.viewer {
  width: 100%;
}

.player-button {
  background: none;
  border: 0;
  line-height: 1;
  color: #fff;
  text-align: center;
  outline: 0;
  cursor: pointer;
  max-width: 50px;
}

.player-button:focus {
  border-color: #ffc600;
}

.player-button:hover {
  color: #ffc600;
}

.slider {
  width: 10px;
  height: 30px;
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

.player:hover .controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.controls>* {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress-filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 0%;
}

input[type='range'] {
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type='range']:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffc600;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

video::-webkit-media-controls {
  display: none !important;
}
